.ui-time-counter {
    font-size: 20px;
    color: #999;
    letter-spacing: -1px;
}

.ui-time-counter span {
    font-size: 60px;
    color: #333;
    margin: 0 3px 0 15px;
}

.ui-time-counter span:first-child {
    margin-left: 0;
}
